<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/weather-app/public/css/styles.css" >
     
    </head>
    <body>
        <div class="class main-content">
            {{>header}}
            {{errormessage}}
        </div> 
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>